@tailwind base;
@tailwind components;
@tailwind utilities;

span.size-20 {
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}

span.size-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
}

span.size-32 {
  font-size: 32px;
  font-variation-settings: 'OPSZ' 32;
}

span.size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
}

span.wght-100 {
  font-variation-settings: 'wght' 100;
}

span.wght-200 {
  font-variation-settings: 'wght' 200;
}

span.wght-300 {
  font-variation-settings: 'wght' 300;
}

span.wght-400 {
  font-variation-settings: 'wght' 400;
}

span.wght-500 {
  font-variation-settings: 'wght' 500;
}

span.wght-600 {
  font-variation-settings: 'wght' 600;
}

span.wght-700 {
  font-variation-settings: 'wght' 700;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: rgb(16 185 129);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
